  {% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}CS - Student{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello,{{ current_user.name }} </h1>
    <p>ID: {{current_user.no}}</p>
</div>
<p>>>My Lessons and Grades>>></p>
<head>
<meta charset="utf-8">
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:600;
	color:#333333;
	margin-top: 30px;
	margin-left:  20px;
}
table.gridtable th {
	width: 400px;
	padding: 8px;
	background-color: #efefef;
}
table.gridtable td {
	width: 400px;
	padding: 8px;
	background-color: #ffffff;
}
</style>
</head>

<div>
<ul>
   	<table class='gridtable'>
   		<tr><th>Course</th>
   		<th>Score</th>
   		<th>学分</th></tr>
   		{%for line in stuview%}
   		<tr><td>{{line.cname}}</td>
   		<td>{{line.grade}}</td>
   		<td>{{line.chour}}</td></tr>
   		{%endfor%}
   		<tr><td></td></tr>
   		<tr><td>总成绩:{{student.grade}}</td>
   		<td>总学分:{{tc}}</td>
   		</tr>
   	</table>
   	<br>
   	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   	<form action='' method="POST"><input type="submit" name='submit' value="choose lesson"></input></form>
   	</p>
    </ul>
    </div>
{% endblock %} 
